//
//  ChildConfig.xcconfig
//  Child
//
//  Created by Tiziano Coroneo on 19/12/2017.
//

//:configuration = Debug
ENABLE_TESTABILITY = YES

//:completeSettings = none

//:configuration = Debug

//:configuration = Release

//:completeSettings = some
CLANG_ENABLE_CODE_COVERAGE

//:configuration = Debug
ENABLE_TESTABILITY = YES

//:configuration = Release
ENABLE_TESTABILITY = YES

//:completeSettings = some
ENABLE_TESTABILITY

